<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/landing.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
</head>

<body>

    <div class="canvas">
        <div class="navbar">

            <div class="logo">
                <img src="image_1-removebg-preview.png" alt="nexus" width="40" height="40">
                <p class="logoname">nexus</p>
            </div>

            <ul class="navbar">
                <li><a href="#">Next Commute</a></li>
                <li><a href="#">Flag an Issue</a></li>
                <li><a href="#">Plan a Journey</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

        <div class="mainarea">
            <div class="mainimage">
                <img src="Empty street-bro.png" alt="emptystreet" width="787" height="645">

                <div class="mainareatext">
                    <p class="h1">Seamless Journeys</p>
                    <p class="h2">Effortless Commutes</p>
                    <p class="maintext">Discover the future of public transportation with our advanced system. Find your
                        next commute, report issues, and plan trips seamlessly.</p>
                    <div class="container">
                        <a href="#" class="button">Sign In</a>
                        <a href="#" class="button">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="featuresarea">

            <div class="commute">
                <img src="Bus driver-bro.png" alt="busimage" width="330px" height="230px">
                <p class="commutetext"><a href="commute.html">Find your next Commute</a></p>
            </div>

            <div class="flagandjourney">
                <div class="commute">
                    <img src="Navigation-amico.png" alt="navigation" width="290px" height="331px">
                    <p class="commutetext"><a href="flagissue.html">Flag an Issue</a></p>
                </div>

                <div class="commute">
                    <img src="Lost-bro.png" alt="lostboy" width="290px" height="331px">
                    <p class="commutetext"><a href="planjourney.html">Explore a Journey</a></p>
                </div>
            </div>

        </div>
    </div>
</body>

<footer>
    <p>&copy; .hack();-2023 Team Nexus. All rights reserved.</p>
    <p>Contact: teamnexus@gmail.com</p>
</footer>

</html>