<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexus</title>
    <link rel="stylesheet" type="text/css" href="../static/signin.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
</head>

<body>
    <div class="navbar">

        <div class="logo">
            <img src="../static/assets/image_1-removebg-preview.png" alt="nexus" width="40" height="40">
            <p class="logoname">nexus</p>
        </div>

        <ul class="navbar">
            <li><a href="url_for('dashboard')">Next Commute</a></li>
            <li><a href="#">Flag an Issue</a></li>
            <li><a href="{{url_for('journey')}}">Plan a Journey</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>

    <div class="maincontent">

        <div class="signinguy">
            <img src="../static/assets/Login-bro.png" alt="loginguy">
        </div>

        <div class="logo1">
            <img src="../static/assets/image_1-removebg-preview.png" alt="nexus" width="150px" height="150px">
            <p class="logoname1">nexus</p>
        </div>

        <div class="signinform">
            <form class="login-form" method="post">
                <div class="input-group">
                    <label for="username" class="icon-label">
                        <img src="../static/assets/🦆 icon _profile circle_.png" alt="User Icon" class="icon">
                    </label>
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>
                <div class="input-group">
                    <label for="password" class="icon-label">
                        <img src="../static/assets/🦆 icon _tick circle_.png" alt="Password Icon" class="icon">
                    </label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>

    </div>

</body>

<footer>
    <p>&copy; .hack();-2023 Team Nexus. All rights reserved.</p>
    <p>Contact: teamnexus@gmail.com</p>
</footer>

</html>